header{
    text-align: center;
    font-family: 'Abril Fatface';font-size: 22px;
     background-color: #595773;
     padding-right: 80%;
     width: 20%;
     height: 60%;
}
button{
  font-family: 'Antonio';font-size: 22px;
  background-color: #87cbe0;
}
.heading{
  
}

figure.container{
  float: left;
  width: 33.33%;
  padding: 5px;

}
figure.Guitar{
  float: left;
  width: 33.33%;
  padding: 5px;

}
figure.Piano{
  float: left;
  width: 33.33%;
  padding: 5px;

}
figure.Veena{
  float: left;
  width: 33.33%;
  padding: 5px;

}
figure.Drums{
  float: left;
  width: 33.33%;
  padding: 5px;

}
figure.Flute{
  float: left;
  width: 33.33%;
  padding: 5px;

}
.whatweteach::after{
  content: "";
  display: table;
  clear: both;
}
* {
  margin: 0;
  padding: 0;
}
.theme{
  background-color: #A9C9FF;
   background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);


}
quote{
    text-align:center;
    background-image: url('quoteimg.jpg');
    font-family: 'Brush Script MT', cursive;
    font-size: 35px;
}
.abt{
 font-family: 'Sofia';font-size: 18px;
}
meaning{
  font-family: 'Almendra';font-size: 20px;
}
/* singing pic transistion(hover)  */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.container {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #07090c;
  font-size: 16px;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.container img {
  opacity: 1;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
figure.container figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% -50%;
  -ms-transform-origin: 50% -50%;
  transform-origin: 50% -50%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}
figure.container h3,
figure.container p {
  line-height: 1.5em;
}
figure.container h3 {
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}
figure.container p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}
figure.container .more {
  border: 2px solid #ffffff;
  padding: 0.5em 1em;
  font-size: 0.8em;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}
figure.container .more:hover {
  background-color: #ffffff;
  color: #000000;
}
figure.container:hover img,
figure.container.hover img {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0;
}
figure.container:hover figcaption,
figure.container.hover figcaption {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* guitar pic transistion(hover)  */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.Guitar {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative; 
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #07090c;
  font-size: 16px;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.Guitar * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.Guitar img {
  opacity: 1;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
figure.Guitar figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% -50%;
  -ms-transform-origin: 50% -50%;
  transform-origin: 50% -50%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}
figure.Guitar h3,
figure.Guitar p {
  line-height: 1.5em;
}
figure.Guitar h3 {
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}
figure.Guitar p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}
figure.Guitar .more {
  border: 2px solid #ffffff;
  padding: 0.5em 1em;
  font-size: 0.8em;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}
figure.Guitar .more:hover {
  background-color: #ffffff;
  color: #000000;
}
figure.Guitar:hover img,
figure.Guitar.hover img {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0;
}
figure.Guitar:hover figcaption,
figure.Guitar.hover figcaption {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* piano pic transistion(hover)  */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.Piano {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative; 
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #07090c;
  font-size: 16px;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.Piano * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.Piano img {
  opacity: 1;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
figure.Piano figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% -50%;
  -ms-transform-origin: 50% -50%;
  transform-origin: 50% -50%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}
figure.Piano h3,
figure.Piano p {
  line-height: 1.5em;
}
figure.Piano h3 {
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}
figure.Piano p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}
figure.Piano .more {
  border: 2px solid #ffffff;
  padding: 0.5em 1em;
  font-size: 0.8em;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}
figure.Piano .more:hover {
  background-color: #ffffff;
  color: #000000;
}
figure.Piano:hover img,
figure.Piano.hover img {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0;
}
figure.Piano:hover figcaption,
figure.Piano.hover figcaption {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* veena pic transistion(hover)  */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.Veena {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative; 
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #07090c;
  font-size: 16px;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.Veena * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.Veena img {
  opacity: 1;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
figure.Veena figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% -50%;
  -ms-transform-origin: 50% -50%;
  transform-origin: 50% -50%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}
figure.Veena h3,
figure.Veena p {
  line-height: 1.5em;
}
figure.Veena h3 {
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}
figure.Veena p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}
figure.Veena .more {
  border: 2px solid #ffffff;
  padding: 0.5em 1em;
  font-size: 0.8em;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}
figure.Veena .more:hover {
  background-color: #ffffff;
  color: #000000;
}
figure.Veena:hover img,
figure.Veena.hover img {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0;
}
figure.Veena:hover figcaption,
figure.Veena.hover figcaption {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* drums pic transistion(hover)  */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.Drums {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative; 
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #07090c;
  font-size: 16px;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.Drums * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.Drums img {
  opacity: 1;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
figure.Drums figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% -50%;
  -ms-transform-origin: 50% -50%;
  transform-origin: 50% -50%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}
figure.Drums h3,
figure.Drums p {
  line-height: 1.5em;
}
figure.Drums h3 {
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}
figure.Drums p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}
figure.Drums .more {
  border: 2px solid #ffffff;
  padding: 0.5em 1em;
  font-size: 0.8em;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}
figure.Drums .more:hover {
  background-color: #ffffff;
  color: #000000;
}
figure.Drums:hover img,
figure.Drums.hover img {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0;
}
figure.Drums:hover figcaption,
figure.Drums.hover figcaption {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* flute pic transistion(hover) */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.Flute {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative; 
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #07090c;
  font-size: 16px;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.Flute * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.Flute img {
  opacity: 1;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
figure.Flute figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% -50%;
  -ms-transform-origin: 50% -50%;
  transform-origin: 50% -50%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}
figure.Flute h3,
figure.Flute p {
  line-height: 1.5em;
}
figure.Flute h3 {
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}
figure.Flute p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}
figure.Flute .more {
  border: 2px solid #ffffff;
  padding: 0.5em 1em;
  font-size: 0.8em;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}
figure.Flute .more:hover {
  background-color: #ffffff;
  color: #000000;
}
figure.Flute:hover img,
figure.Flute.hover img {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0;
}
figure.Flute:hover figcaption,
figure.Flute.hover figcaption {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
 /* footer */
footer{
  color: rgb(0, 0, 0);
  font-family: 'Amita' ; font-size: 22px;
  padding-top: 3%;
  padding-bottom: .3%;
  background-image: url('quoteimg.jpg');
  background-repeat:repeat-y;
  background-position: right;
}

